body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: unset;

    &:hover {
        color: unset;
    }
}

.row {
    margin-left: unset !important;
    margin-right: unset !important;
}

.bottom-0 {
    bottom: 0 !important;
}

::placeholder {
    color: $color-black !important;
    opacity: 0.32 !important;
}

:-ms-input-placeholder {
    color: $color-black !important;
    opacity: 0.32 !important;
}

::-ms-input-placeholder {
    color: $color-black !important;
    opacity: 0.32 !important;
}

body {
    &.modal-open {
        padding-right: unset !important;
    }

    .fade {
        transition: unset !important;
    }
}

.no-scroll {
    overflow: hidden !important;
}

input,
select,
optgroup,
textarea {
    line-height: unset !important;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
}

:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

body:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
